<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<bean id="baseDao" class="com.careye.base.dao.impl.GenericDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	<bean id="onlineReportServiceImpl" class="com.careye.monitor.service.OnlineReportService"
		abstract="true">
		<property name="baseDao">
			<ref bean="baseDao" />
		</property>
	</bean>
	<bean id="onlineReportService" class="com.careye.monitor.service.impl.OnlineReportServiceImpl"
		parent="onlineReportServiceImpl">
	</bean>

</beans>
