<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<bean id="baseDao" class="com.careye.base.dao.impl.GenericDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>

	
	<bean id="advertTypeServiceImpl" class="com.careye.advert.service.AdvertTypeService"
		abstract="true">
		<property name="baseDao">
			<ref bean="baseDao" />
		</property>
	</bean>

	<bean id="advertTypeService" class="com.careye.advert.service.impl.AdvertTypeServiceImpl"
		parent="advertTypeServiceImpl">
	</bean>

</beans>
