<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<bean id="baseDao" class="com.careye.base.dao.impl.GenericDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>

	
	<bean id="dialfeeSetServiceImpl" class="com.careye.sysset.service.DialfeeSetService"
		abstract="true">
		<property name="baseDao">
			<ref bean="baseDao" />
		</property>
		<property name="logService">
			<ref bean="logService" />
		</property>
	</bean>

	<bean id="dialfeeSetService" class="com.careye.sysset.service.impl.DialfeeSetServiceImpl"
		parent="dialfeeSetServiceImpl">
	</bean>

</beans>
