<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	
	
</beans>

	<!--
		<value>0 0/100 * * * ?</value>
		附表： "0 0 12 * * ?" 每天中午12 点触发 
		"0 15 10 ? * *"每天上午10:15 触发 
		"0 15 10 ** ?" 每天上午10:15 触发
		"0 15 10 * * ? *" 每天上午10:15 触发
		"0 15 10 * * ? 2005"2005 年的每天上午10:15 触发 
		"0 * 14 * * ?"在每天下午2 点到下午2:59 期间的每1 分钟触发
		"0 0/5 14 * * ?"在每天下午2 点到下午2:55 期间的每5 分钟触发
		"0 0/5 14,18 * * ?"在每天下午2 点到2:55期间和下午6 点到6:55 期间的每5 分钟触发
		"0 0-5 14 * * ?"在每天下午2 点到下午2:05 期间的每1 分钟触发
		"0 10,44 14 ? 3 WED" 每年三月的星期三的下午2:10 和2:44 触发 
		"0 15 10 ? * MON-FRI"周一至周五的上午10:15 触发 
		"0 15 10 15 * ?" 每月15 日上午10:15 触发 
		"0 15 10 L * ?"每月最后一日的上午10:15 触发 
		"0 15 10 ? * 6L" 每月的最后一个星期五上午10:15 触发 
		"0 15 10 ? *6L 2002-2005" 2002 年至2005 年的每月的最后一个星期五上午10:15 触发
		"0 15 10 ? * 6#3"每月的第三个星期五上午10:15 触发 至于每个符号 看看例子就好了. 很简单.
	-->