
* { margin:0; padding:0; word-break:break-all; }
html { overflow:-moz-scrollbars-vertical; }
body { background:#FFF; color:#333; font:12px/1.6em Helvetica, Arial, sans-serif; }
img { border:none; }
#ifocus { width:525px; height:245px; margin:20px; border:1px solid #DEDEDE; background:#F8F8F8; }
#ifocus_pic { display:inline; position:relative; float:left; width:410px; height:225px; overflow:hidden; margin:10px 0 0 10px; }

#ifocus_piclist { position:absolute; }
#ifocus_piclist li { width:410px; height:225px; overflow:hidden; }
#ifocus_piclist img { width:410px; height:225px; }
/*导航按钮*/
#ifocus_btn { display:inline; float:right; width:91px; margin:9px 9px 0 0; }
#ifocus_btn li { width:91px; height:57px; cursor:pointer; opacity:0.5; -moz-opacity:0.5; filter:alpha(opacity=50); }
#ifocus_btn img { width:75px; height:45px; margin:7px 0 0 11px; }
#ifocus_btn .current { background: url(ifocus_btn_bg.gif) no-repeat; opacity:1; -moz-opacity:1; filter:alpha(opacity=100); }
/*标题*/
#ifocus_tx { position:absolute; left:8px; bottom:8px; color:#FFF; }
#ifocus_tx .normal { display:none; }