@charset "utf-8";

/* CSS Document */
body,p {
	margin: 0;
	font-family: "微软雅黑";
	overflow: hidden;
	padding: 0;
	font-size: 12px;
	color: #333;
}

img,a {
	display: block;
	text-decoration: none;
}

input {
	border: none;
	font-size: 14px;
	outline: none
}

.bigbox {
	background: none repeat scroll 0% 0% #ffffff;
	border: 1px solid rgb(205, 205, 205);
	display: none;
	width: 750px;
	height: 440px;
	border: #e0e0e0 solid 1px;
	position: absolute;
	left: 50%;
	margin-left: -375px;
	top:29%;
	overflow: hidden;
	z-index: 3;
}

.mapbox {
	width: 380px;
	height: 440px;
	background-image: url(images/map.png);
	background-repeat: no-repeat;
	float: left;
}

.ssbox {
	width: 350px;
	height: 36px;
	background-color: #00aaff;
	float: left;
	margin-left: 20px;
}

.srk input {
	width: 166px;
	height: 26px;
	border: #0099e6 solid 1px;
	float: left
}

.srk div {
	width: 54px;
	height: 28px;
	border: #0099e6 solid 1px;
	background-color: #FFF;
	float: left;
	background-image: url(images/ss.png);
	background-position: center;
	background-repeat: no-repeat;
}

.srk {
	margin-top: 2px;
	margin-left: 10px;
	overflow: hidden;
	float: left;
}

.srk div:hover {
	background-color: #e5e5e5;
}

.chacha {
	width: 30px;
	height: 30px;
	background-image: url(images/cc01.png);
	background-repeat: no-repeat;
	float: right;
	margin-right: 4px;
	margin-top: 6px;
}

.chacha:hover {
	background-image: url(images/cc02.png);
}

.kk {
	height: 70px;
	border-bottom: #e0e0e0 solid 1px;
	overflow: hidden;
	margin-top: 10px;
}

.kk:hover {
	background-color: #e5e5e5;
}

}
.xian01 {
	width: 1px;
	height: 70px;
	background-color: #e1200d;
	float: left;
	margin-right: 10px;
}

.xian02 {
	width: 1px;
	height: 70px;
	background-color: #e15f00;
	float: left;
	margin-right: 10px;
}

.xian03 {
	width: 1px;
	height: 70px;
	background-color: #00b156;
	float: left;
	margin-right: 10px;
}

.xian04 {
	width: 1px;
	height: 70px;
	background-color: #008ccb;
	float: left;
	margin-right: 10px;
}

.xian05 {
	width: 1px;
	height: 70px;
	background-color: #b7b7b7;
	float: left;
	margin-right: 10px;
}

.neirbox {
	overflow: auto;
	height: 384px;
	width: 350px;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}

.dm * {
	float: left;
	color: #00aaff;
}

.dm {
	overflow: hidden;
}

.dm p {
	font-size: 16px;
}

.dm a {
	font-size: 14px;
	background-image: url(images/jr.png);
	background-position: 30px center;
	background-repeat: no-repeat;
	width: 40px;
	line-height: 24px;
	margin-left: 70px;
}

.p01,.p02 {
	margin-top: 5px;
	padding-left: 16px;
}

.p01 {
	background-image: url(images/dz.png);
	background-repeat: no-repeat;
	background-position: 0 center;
}

.p02 {
	background-image: url(images/dh.png);
	background-repeat: no-repeat;
	background-position: 0 center;
}

.dm a:hover {
	color: #4cc3ff;
}

#mask {
	filter: alpha(opacity =   50); /*IE�˾���͸����50%*/
	-moz-opacity: 0.5; /*Firefox˽�У�͸����50%*/
	opacity: 0.5; /*����͸����50%*/
	width: 100%;
	height: 100%;
	z-index: 2;
	position: fixed;
	left: 0px;
	top: 0px;
	background: #000;
	display: none;
}

.top {
	background-color: #00aaff;
	height: 40px;
	color: #FFF;
	font-size: 14px;
}

.zb {
	margin-left: 30px;
	line-height: 40px;
	float: left;
}

.zb input {
	width: 160px;
	height: 20px;
	border: #0099e6 solid 1px;
	padding: 3px;
}

.zb02 input {
	width: 100px;
	margin-top: 6px;
	margin-left: 3px;
	text-align: center;
}

.zb02 .aa {
	width: 32px;
	height: 26px;
	background: url(images/sjx.png) center no-repeat;
	background-color: #FFF;
	border: #0099e6 solid 1px;
	margin-top: 6px;
	cursor: pointer;
}

.zb02 * {
	float: left;
}

.xiala div {
	width: 106px;
	height: 26px;
	background-color: #FFF;
	border: #93bbce solid 1px;
	float: none;
	text-align: center;
	line-height: 26px;
	cursor: pointer;
	background: rgba(255, 255, 255, 0.6)
}

.xiala {
	position: absolute;
	margin-top: 34px;
	margin-left: 73px;
	color: #333;
}

.wbox div {
	width: 56px;
	height: 26px;
	background-color: #FFF;
	text-align: center;
	line-height: 26px;
	float: left;
	color: #00aaff;
	border: #0099e6 solid 1px;
	margin-top: 6px;
	margin-left: 20px;
	cursor: pointer;
}

.wbox {
	float: left;
}

.wbox div:hover {
	background-color: #e5e5e5;
}

.zb02 .aa:hover {
	background-color: #e5e5e5;
}

.xiala div:hover {
	background: rgba(178, 229, 255, 0.6)
}

.blue div {
	border-bottom: #00aaff solid 2px;
	font-size: 14px;
	width: 76px;
	line-height: 30px;
	text-align: center;
	color: #00aaff;
	float: left;
	margin-left: 26px;
}

.blue {
	overflow: hidden;
}

.blue .lasta {
	margin-left: 120px;
}

.blue .firsta {
	margin-left: 60px;
	width: 60px;
}

.biaog div {
	width: 100px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border-right: #CCC solid 1px;
	float: left;
}

.biaog {
	border-top: #CCC solid 1px;
	overflow: hidden;
}

.biaog02 {
	margin-top: -1px;
}

.biaog .b01 {
	width: 50px;
	background: url(images/mm01.png) center no-repeat;
	cursor: pointer;
}

.biaog .rrr {
	width: 50px;
	background: url(images/mm02.png) center no-repeat;
	cursor: pointer;
}

.biaog .b02 {
	width: 80px;
}

.biaog .b03 {
	width: 104px;
}

.biaog .b06 {
	width: 284px;
	border-right: none;
}

.xian {
	border-top: #CCC solid 1px;
}

.biaogbox {
	height: 357px;
	overflow: auto;
	margin-top: 10px;
	border-top: #CCC solid 1px;
}

.b01 input {
	display: none;
}

.empty{
	text-align:center;
}

.csure{
	width: 54px;
	height: 28px;
	background-color: #FFF;
	text-align: center;
	line-height: 26px;
	float: left;
	color: #00aaff;
	border: #0099e6 solid 1px;
	margin-top: 2px;
	margin-left: 10px;
	cursor: pointer;
}

.poi .poilist {
    -moz-box-align: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #d2d2d2;
    color: #000;
    display: flex;
    margin-top: -1px;
    min-height: 32px;
    padding: 2px 5px;
    text-align: left;
    vertical-align: middle;
}
.poi .poilist .poicontent {
    -moz-box-flex: 1;
    flex: 1 1 0;
    min-width: 60px;
}